<!doctype html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>backend welche zukunft ?!</title>
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab"
	rel="stylesheet">
<link href="backend_zukunft.css" rel="stylesheet">
</head>



<body>

	<div class="generic-container" ng-controller="anmeldungen as ctrl">

		<div class="main">
			<table align="center" class="backendTable" border="1">
				<tr>


					<!-- formular -->
					<td class="mittespalte">
						<h4>Anmeldungen</h4> <label>Filter</label> <select name="top5"
						size="1">
							<option>alle</option>
							<option>Workshop</option>
							<option>Warteliste</option>
							<option>olympisch</option>
							<option>zurückgemeldet</option>
							<option>nicht zurückgemeldet</option>
					</select> <br> <br>



						<table width="95%" border="1" class="thintable">
							<tr class="headline">
								<td width="5vh"></td>
								<td width="20vh">Datum</td>
								<td width="35vh">Name</td>
								<td width="10vh">WS</td>
								<td width="10vh">WL</td>
								<td width="10vh">olympisch</td>
								<td width="10vh">zurück gemeldet</td>
							</tr>

							<tr ng-repeat="user in ctrl.users">
								<td width="5vh"><a ng-click="ctrl.setActiveUser(user)" href="">show</a></td>
								<td>25.08.17</td>
								<td><a ng-href="mailto:{{user.mail}}">{{user.vorname}} {{user.nachname}}</a></td>
								<td>{{user.workshopId}}</td>
								<td></td>
								<td></td>
								<td>
									<div ng-if="user.status == 'BESTÄTIGT'">&#10004;</div>
								</td>
							</tr>

						</table>

					</td>
					<td class="rechtespalte">
					
					<form>
					
					
					
						<h4 class="batchtitle">{{ctrl.user.vorname}} {{ctrl.user.nachname}}</h4> 
						
						<label>Datum</label> 
						<input ng-model="ctrl.user.datum" type="text">

						<label>Email</label> 
						<input ng-model="ctrl.user.mail" type="text">

						<label>Szenario</label> 
						<textarea ng-model="ctrl.user.motivation" rows="19" cols="50"></textarea>

						<label>Workshop</label> 
						<input ng-model="ctrl.user.workshopId" type="text" maxlength="80" size="50" value="12">
						
						<label>Warteliste</label> 
						<input type="text">
						
						<label>Olympisch</label> 
						<input type="checkbox" ng-model="ctrl.user.modus" ng-true-value="OLYMPISCH" ng-false-value="NORMAL"> 
						
						<label>Sprache</label>
						<br> 
						<select ng-model=ctrl.user.sprache size="1">
							<option value="DEUTSCH">deutsch</option>
							<option value="ENGLISCH">englisch</option>
							<option value="BEIDE">beide</option>
						</select> <br> <br> 
						
						
						<label>interne Bemerkung</label>
						<textarea ng-model="ctrl.user.internText" rows="19" cols="50"></textarea>

						<button type="reset">ändern</button>
						<button type="reset">änderungen verwerfen</button>
						<button type="reset">speichern</button> <br> <br>
						
					</form>
					</td>

				</tr>

			</table>
		</div>

	</div>
</body>
</html>

