<!doctype html>
<html lang="de">
<head>

<style>
	td {
		vertical-align:top;
	}
	
	td form {
		margin-top:2ch;
	}
	
	td form:first-child {
		margin-top:0;
	}
</style>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>backend welche zukunft ?!</title>
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab"
	rel="stylesheet">
</head>



<body>
	

		<div class="main">
			<table align="center" class="backendTable" border="1">
				
				<tr>
					<td>

						<h4>Inhalte verändern</h4>



						<form ng-submit="ctrl.submit()">


							<label class="h2">WorkshopleiterIn</label> <input type="text"
								maxlength="50" size="50" ng-model="ctrl.workshop.leiterIn">


							<label>Titel Workshop</label> <input type="text" maxlength="80"
								size="50" ng-model="ctrl.workshop.titel"> <label>Maximale
								Belegung</label> <input type="text" maxlength="80" size="50"
								ng-model="ctrl.workshop.max"> <label>Blockierte
								Plätze</label> <input type="text" maxlength="80" size="50"
								ng-model="ctrl.workshop.blockiert"> <label>Logline</label>
							<textarea rows="5" cols="50" ng-model="ctrl.workshop.logline"></textarea>

							<label>Kurzinfo</label>
							<textarea rows="7" cols="50" ng-model="ctrl.workshop.kurzinfo"></textarea>

							<label>Intro</label>
							<textarea rows="15" cols="50" ng-model="ctrl.workshop.intro"></textarea>

							<label>CV WorkshopleiterIn</label>
							<textarea rows="15" cols=50
								ng-model="ctrl.workshop.cvWorkshopleiterIn"></textarea>

							<label>Foto WorkshopleiterIn</label>
=
							<hr>
							<label class="h2">Name ModeratorIn</label> <input type="text"
								maxlength="50" size="50" ng-model="ctrl.workshop.moderatorIn">


							<label>CV ModeratoIn</label>
							<textarea rows="15" cols="50"
								ng-model="ctrl.workshop.cvModeratorIn"></textarea>
							<hr>
							<input type="submit" id="submit" value="Submit">Speichern</input>

							<button type="reset">Eingaben zurücksetzen</button>
							
							

							<br> <br>
						</form>

					</td>
					
					<td class="rechtespalte">


						<h4 class="batchtitle">Events</h4>
						
						<div ng-repeat="tupel in ctrl.eventTupels">

							<form>

								<h4 class="batchtitle">Event {{tupel.event.id}}</h4>
								<label>Überschrift</label> 
								<input ng-model='tupel.event.ueberschrift' type="text" maxlength="80" size="50"> 
								
								<label>Jahr</label> 
								<input ng-model='tupel.event.jahr' type="text" maxlength="4" size="10"> 
									 
								<label>Text</label>
								<textarea ng-model='tupel.event.text' rows="7" cols="50"></textarea>
								
								<label>Embed Code</label>
								<textarea ng-model='tupel.event.embedcode' rows="2" cols="50"></textarea>
								
								<img ng-src="{{tupel.event.filename}}" width="300" border="0">
								<hr>

								<button ng-click="ctrl.removeEvent(tupel.event)">Event Löschen</button>
								
								<button class="button" ngf-select ng-model="tupel.file" name="file" >Bild wählen</button>  {{tupel.file.name}}
  								<hr>
  								<button type="submit" ng-click="ctrl.submitEvent(tupel)">Speichern</button>
  								

							</form>

						</div>

						<hr>
						
						


						<form>


								<h4 class="batchtitle">Neues Event</h4>
								<label>Überschrift</label> 
								<input ng-model='ctrl.newTupel.event.ueberschrift' type="text" maxlength="80" size="50"> 
								
								<label>Jahr</label> 
								<input ng-model='ctrl.newTupel.event.jahr' type="text" maxlength="4" size="10"> 
									 
								<label>Text</label>
								<textarea ng-model='ctrl.newTupel.event.text' rows="7" cols="50"></textarea>
								
								<label>Embed Code</label>
								<textarea ng-model='ctrl.newTupel.event.embedcode' rows="2" cols="50"></textarea>
								
								
								<button class="button" ngf-select ng-model="ctrl.newTupel.file" name="file" >Bild wählen</button>  {{ctrl.newTupel.file.name}}
  								<hr>
  								<button type="submit" ng-click="ctrl.submitEvent(ctrl.newTupel)">Hinzufügen</button>


						</form>

				
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					

					
					</td>
					
									

			
				</tr>
			</table>
		</div>
</body>
</html>

