<!doctype html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>backend welche zukunft ?!</title>
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab"
	rel="stylesheet">
</head>



<body>


		<div class="main">
			<table align="center" class="backendTable" border="1">


						<h4>Inhalte verändern</h4>



						<form ng-submit="ctrl.submit()">


							<label class="h2">WorkshopleiterIn</label> <input type="text"
								maxlength="50" size="50" ng-model="ctrl.workshop.leiterIn">


							<label>Titel Workshop</label> <input type="text" maxlength="80"
								size="50" ng-model="ctrl.workshop.titel"> <label>Maximale
								Belegung</label> <input type="text" maxlength="80" size="50"
								ng-model="ctrl.workshop.max"> <label>Blockierte
								Plätze</label> <input type="text" maxlength="80" size="50"
								ng-model="ctrl.workshop.blockiert"> <label>Logline</label>
							<textarea rows="5" cols="50" ng-model="ctrl.workshop.logline"></textarea>

							<label>Kurzinfo</label>
							<textarea rows="7" cols="50" ng-model="ctrl.workshop.kurzinfo"></textarea>

							<label>Intro</label>
							<textarea rows="15" cols="50" ng-model="ctrl.workshop.intro"></textarea>

							<label>CV WorkshopleiterIn</label>
							<textarea rows="15" cols=50
								ng-model="ctrl.workshop.cvWorkshopleiterIn"></textarea>

							<label>Foto WorkshopleiterIn</label>
=
							<hr>
							<label class="h2">Name ModeratorIn</label> <input type="text"
								maxlength="50" size="50" ng-model="ctrl.workshop.moderatorIn">


							<label>CV ModeratoIn</label>
							<textarea rows="15" cols="50"
								ng-model="ctrl.workshop.cvModeratorIn"></textarea>
							<hr>
							<input type="submit" id="submit" value="Submit">Speichern</input>

							<button type="reset">Eingaben zurücksetzen</button>

							<br> <br>
						</form>



			</table>
		</div>
</body>
</html>

