<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>backend welche zukunft ?!</title>
	<link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  </head>
  
  

  <body>
	<div class="main">
	  <table align="center" class="backendTable" border="1">
	  <tr>
		<!-- menue -->

		
		
		<!-- formular -->
		<td class="breitespalte">	
		<h4>Email versenden</h4>
		<label for="zuname">An:</label> 
		<br>
		<table width="95%" border="1" class="thintable mailing">
		<tr>
		
		<td width="30vh">
		<label for="zuname">alle</label>
		<br>
		<select name="top5" size="1">
				<option></option>
				<option>alle</option>
		</td>
		<td width="30vh">
		<label for="zuname">Workshopteilnehmer</label>
		<br>
			<select name="top5" size="1">
				<option></option>
				<option>Ökonomie I</option>
				<option>Ökonomie II</option>
				<option>Ökonomie III</option>
				<option>Nachhaltige Ökonomie</option>
				<option>Staatsbankrott </option>
				<option>Risikomanagement</option>
				<option>Energieversorgung</option>
				<option>Extremwetter</option>
				<option>Geopolitik</option>
				<option>Arbeit I</option>
				<option>Arbeit II</option>
			</select>
		</td>
		<td width="30vh">
		<label for="zuname">Einzelperson</label>
		<br>
			<select ng-model='ctrl.mail.ziel' name="top5" size="1">
				<option></option>
				<option ng-value='"test@alexh.name"'">Annika Meier</option>
				<option>Dagobert Mann</option>
				<option>Hennriette Kübler</option>
				<option>Maurice Holster</option>
				<option>Olaf Hauser</option>
				<option>Marianne Schuster</option>
				<option>Maike Jolander</option>
				<option>Siegmund Jähn</option>
				<option>David Fehlmann</option>
			</select>
		</td>
		</tr>
		</table>
		<br>
		<label for="zuname">Titel</label>  	
		<input ng-model='ctrl.mail.titel' type="text" name="zuname" id="zuname" maxlength="80" size="80"> 
		<label for="zuname">Inhalt</label>
		<textarea ng-model='ctrl.mail.inhalt' rows="30" cols="90"></textarea>
		<table width="95%" border="1" class="thintable">
		<tr class="headline">
		<td width="70vh">
		<a href="infos.pdf">infos.pdf (239.7 kb)</a>
		</td>
		<td width="30vh">
		
		<button ng-click="ctrl.sendMail(ctrl.mail)">Senden</button>
		
		<form method="POST" enctype="multipart/form-data" action="/admin/mailattachment/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" />				
				<input type="submit" value="Upload" />
				</td></tr>
				<input type="hidden" name="geheimnis" ng-value='"GEHEIMNIS"'/>
			</table>
		</form>
		
		</td>

	  </tr>

	</table>
	</div>
  </body>
</html>