<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>backend welche zukunft ?!</title>
	<link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  </head>
  

  

  <body>
	<div class="main">
	  <table align="center" class="backendTable" border="1">
	  <tr>
		<!-- menue -->

		
		
		<!-- formular -->
		<td class="breitespalte">	
		<h4>Email versenden</h4>
		<label for="zuname">An:</label> 
		<br>
		<table width="95%" border="1" class="thintable mailing">
		<tr>
		
		<td width="30vh">
		<label>alle</label>
		<br>
		<select size="1">
				<option>alle</option>
		</select>
		<button type="button" id="hinzufügen">zu Empfängern hinzufügen</button>
		</td>
		<td width="30vh">
		<label>Workshops</label>
		<br>
			<select size="1">
				<option>Workshopname</option>
			</select>
			<button type="button" id="hinzufügen">zu Empfängern hinzufügen</button>
		</td>
		<td width="30vh">
		<label>Person</label>
		<br>
			<select ng-model='ctrl.mail.ziel' name="top5" size="1">
				<option>Name, Vorname</option>
			</select>
			<button type="button" id="hinzufügen">zu Empfängern hinzufügen</button>
		</td>
		</tr>
		</table>
		<br>
		<div>
		<label>An:</label>  
		<br>		
		<textarea ng-model='ctrl.mail.ziel' rows="3" cols="90"></textarea>
		</div>
		<br>
		<div>
		<label>Betreff</label>  
		<br>		
		<input ng-model='ctrl.mail.titel' type="text" maxlength="80" size="80"> 
		</div>
		<br>
		<div>
		<label>Inhalt</label>
		<br>
		<textarea ng-model='ctrl.mail.inhalt' rows="30" cols="90"></textarea>
		</div>
		<br>
		<label>Anhang</label>
		<br>
		<table width="95%" border="1" class="thintable">
			<tr class="headline">
				<td width="70vh">
				<a href="#"></a>
				</td>
			
				<td width="30vh">						
					<button ng-click="ctrl.uploadAttachment()" style="width:90%;">		
					<select ng-model="filterCondition.operator" style="width:90%;" >
						<option 
					   ng-repeat="file in self.files" 
					   value="{{file.name}}">
					   {{file.name}}
						</option>	
				</td>
			</tr>
		</table>
	<br>
	<button type="submit" ng-click="ctrl.sendMail(ctrl.mail)">Senden</button>
	<br>
	</div>
  </body>
  
  
  
  
</html>