<!doctype html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>backend welche zukunft ?!</title>
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab"
	rel="stylesheet">
</head>



<body>

		<div class="main">
			<table align="center" class="backendTable" border="1">
				<tr>
					<!-- menue -->

					<!-- formular -->
					<td class="mittespalte">
						<h4>Anmeldungen</h4>
						<table width="95%" border="1" class="thintable">
							<tr class="headline">
								<td width="5vh"></td>
								<td width="45vh">Name</td>
								<td width="15vh">Belegung</td>
								<td width="15vh">Maximum</td>
								<td width="20vh">Warteliste</td>
							</tr>

							<tr ng-repeat="workshop in ctrl.workshops">
								<td width="5vh"><a ng-click="ctrl.setActiveWorkshop(workshop)" href="">show</a></td>	
								<td>{{workshop.titel}}</td>
								<td>{{workshop.belegt}}</td>
								<td>{{workshop.max}}</td>
								<td>{{workshop.warteliste}}</td>
							</tr>
						</table>





					</td>
					<td class="rechtespalte">
						<h4 class="batchtitle">
							1 - Ökonomie I&nbsp;<label>(3/15)</label>
						</h4>
						<p>Prof. Dr. Rudolph Hickel</p>
						<hr>
						<p>Teilnehmer:</p>
						<table width="95%" border="1" class="thintable">
							<tr class="headline">
								<td width="10vh"></td>
								<td width="50vh">Name</td>
								<td width="30vh">Datum</td>
								<td width="10vh">rückgemeldet</td>
							</tr>


							<tr ng-repeat="user in ctrl.teilnehmer">
								<td><a href="#">show</a></td>
								<td>{{user.vorname}} {{user.nachname}}</td>
								<td>{{user.datum}}</td>
								<td></td>
							</tr>





						</table>

						<p>Warteliste:</p>
						<table width="95%" border="1" class="thintable">
							<tr class="headline">
								<td width="10vh"></td>
								<td width="50vh">Name</td>
								<td width="30vh">Datum</td>
								<td width="30vh"></td>
							</tr>

							<tr ng-repeat="user in ctrl.wartende">
								<td><a href="anmeldungen.html">show</a></td>
								<td>{{user.vorname}} {{user.nachname}}</td>
								<td>{{user.datum}}</td>
								<td><a href="#">add</a></td>
							</tr>
						</table> <br> <br>

					</td>

				</tr>

			</table>
		</div>

</body>
</html>

